/*General Web Page Layout*/
			#background{
				background-color:#C6C6C6;
			}

			#menubackground{
				text-align: left;
				background-color:red;
			}

			#header{
				text-align: left;

			}

			#body{
				text-align: left;
			}

			#Leftsidebar{
				border-left: 1px solid black;
			}

			.footer{
				width: 100%;
				border-top: 1px #a2a2a2 solid;
				text-align: center;
			}
			.footer p {
				color: black;
			}


			.cell{
				border: 1px solid black;
			}
/*Nav Bar set up*/
			.nav{
				background-color:red;
				overflow: hidden;
			}

			 ul.nav{
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			ul.nav li{
				float: left;
			}

			li a, .dropbtn{
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			li a:hover, .dropdown:hover .dropbtn{
				background-color:black;
			}

			li.dropdown {
				display: inline-block;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
			}

			.dropdown-content a:hover {
				background-color: #f1f1f1;
			}

			.dropdown:hover .dropdown-content {
				display: block;
			}
/*Comment section set up*/

.container {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}
.comment {
	display: block;
	transition: all 1s;
	/*
	height: 300px;
    overflow-y: scroll;
    */
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}
.container textarea{
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}
button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
button.primaryContained:hover {
	background: #9201A8;
}
/*toggle display of buttons*/
.targetDiv{
 display: none;
}

.hide{
 display: none;
}
			.template1 {
				background-color: black;
			}

			.template1 p {
				color: yellow;
				padding: 15px;
			}

			.template1 h1 {
				color: yellow;
			}

			.template1 h2 {

				color: yellow;
			}

			.template1 h3 {

				color: yellow;
			}


			.template2 {
				background-color: black;
			}

			.template2 p {
				font-size:1.5vw;
				color: yellow;
				padding: 15px;
			}

			.template2 h3 {
				font-size:3vw;
				color: yellow;
			}

			.template2 ul {
				font-size:1.5vw;
				padding: 15px;
			}


			#img10{
				height: 150px;
				width: 100%;
			}
